$border-color: #263a49;
$black-color: black;

* {
    font-family: 'Jost', Arial;
}

body {
    margin: 0;

}

.image {
    background-image: url("https://via.placeholder.com/1920x550");
    background-size: auto 550px;
    height: 550px;
    background-position: center center;
    font-weight: 500;

}

.nav-link {
    color: black;
}
.decorate:hover{
    text-decoration: underline;
}

.second {
    background-color: #03ffee;
    height: 438px;
}


.logo {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.slider {
    background-color: $border-color;

    height: 438px;
}

.slider img {
    width: auto;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {

    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }

    .carousel-inner .active+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 768px) {

    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 991px) {

    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.items {


    .Place {
       max-width: 100%;

        img {
            max-width: 100%;
        }

    }
}

.all-products {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
        
        background-color: #fff;
        padding: 15px;
        border: 2px solid $black-color;

    }
}

.all-products button:hover{
    cursor:pointer;
    background-color: rgba(69, 69, 69, 0.5);
    color: white;
}

.newsletter{
    width:649px;
    max-width:100%;
    margin: 0 auto;
    padding-bottom:97px;
     @media all and (max-width:650px){
      width:95%; 
      padding-bottom:37px;
    }
    &__title{
        margin-top:98px;
        font-size:2rem;
        text-align:center;
        font-weight:bold;
    }
    &__description{
        color:#454545;
        font-size:1rem;
        margin-top:35px;
        text-align:center;
    }
    &__form{
        margin-top:69px;
        position: relative;
        &__input{
            width:100%;
            border:none;
            border-bottom:2px solid black;
            padding-bottom:13px;
            font-size:1rem;
            &::placeholder{
                color:rgba(69, 69, 69, 0.5);
                font-size: 1rem;
            }
        }
        &__button{
            position: absolute;
            right:10px;
            top:0;
            font-size:1rem;
            outline:none;
            background-color:rgba(0,0,0,0);
            border:none;
            font-weight: 500;
        }
        &__info{
            margin-top:24px;
            font-size:1rem;
            color: black;
        }
    }
}

footer {
    margin-top: 50px;

    .icons {
        margin-bottom: 10px;

        img {
            padding: 10px;
        }
    }

    .Policy {
        padding: auto;
        font-weight: 500;
        display:flex;
        justify-content: space-between;

        span {
            padding-right: 10px
        }
    }

}

.info {
    display:flex;
        justify-content: space-between;


}

.end {
    margin: 50px 0;
}