$border-color: #263a49;
$black-color: black;

* {
    font-family: 'Jost', Arial;
}

body {
    margin: 0;

}

.image {
    background-image: url("https://via.placeholder.com/1920x550");
    background-size: auto 550px;
    height: 550px;
    background-position: center center;
    font-weight: 500;

}

.nav-link {
    color: black;
}

.decorate:hover {
    text-decoration: underline;
}

.second {
    background-color: #03ffee;
    height: 438px;
}


.logo {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
.slider {
    min-height: 424px;
    max-height: 438px;
    background-color: #263a49;
    padding: 50px 0;
    position: relative;
}
#carousel {
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 80%;
}
@media (min-width: 900px) {
    #carousel {
        width: 70%;
   }
}
@media (max-width: 800px) {
    #carousel {
        width: 90%;
   }
}
#carousel::-webkit-scrollbar {
    height: 0;
}
#content {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: auto;
}
.item {
    position: relative;
    width: 268px;
    height: 338px;
}

.descript {
    position: absolute;
    bottom: 19px;
    left: 20px;
    font-size: 13px;
    z-index: 10;
}
.name {
    font-weight: 500;
    color: #777;
}
.price {
    font-weight: bold;
    color: #222;
}
.Sbutton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    
}
@media (max-width: 800px) {
    .Sbutton {
       
        top: 5%;
   }
}
#left {
    left: 2%;
    transform: translate(50%, -50%);
}
#right {
    right: 2%;
    transform: translate(-50%, -50%);
}
@media (min-width: 900px) {
    #right {
        right: 5%;
   }
}
@media (max-width: 800px) {
    #right {
        right: 30%;
   }
}




.all-products {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {

        background-color: #fff;
        padding: 15px;
        border: 2px solid $black-color;

    }
}

.all-products button:hover {
    cursor: pointer;
    background-color: rgba(69, 69, 69, 0.5);
    color: white;
    transition: 0.3s;
}

.newsletter {
    width: 649px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 97px;

    @media all and (max-width:650px) {
        width: 95%;
        padding-bottom: 37px;
    }

    &__title {
        margin-top: 98px;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    &__description {
        color: #454545;
        font-size: 1rem;
        margin-top: 35px;
        text-align: center;
    }

    &__form {
        margin-top: 69px;
        position: relative;

        &__input {
            width: 100%;
            border: none;
            border-bottom: 2px solid black;
            padding-bottom: 13px;
            font-size: 1rem;

            &::placeholder {
                color: rgba(69, 69, 69, 0.5);
                font-size: 1rem;
            }
        }

        &__button {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 1rem;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            font-weight: 500;
        }

        &__info {
            margin-top: 24px;
            font-size: 1rem;
            color: black;
        }
    }
}

footer {
    margin-top: 50px;

    .icons {
        margin-bottom: 10px;

        img {
            padding: 10px;
        }
    }

    .Policy {
        padding: auto;
        font-weight: 500;
        display: flex;
        justify-content: space-between;

        span {
            padding-right: 10px
        }
    }

}

.info {
    display: flex;
    justify-content: space-between;


}

.end {
    margin: 50px 0;
}

#arrow-top {

    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    right: 50px;

    @media(max-width: 800px) {
        right: 10px;
    }

    transform: translate(0, -50%);
    z-index: 15;
    cursor: pointer;

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

#arrow-top:hover {

    background-color: #ccc;
    border: 1px solid #222;
    transition: 0.3s;

}
