footer {
    margin-top: 50px;
    .icons {
        margin-bottom: 10px;
        img {
            padding: 10px;
        }
    }
    .Policy {
        padding: auto;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        span {
            padding-right: 10px
        }
    }
}

.info {
    display: flex;
    justify-content: space-between;
}

.end {
    margin: 50px 0;
}

select {
    color: #333;
    border-style: none;
    font-weight: bold;
    text-transform: uppercase;
}