.slider {
    min-height: 424px;
    max-height: 438px;
    background-color: #263a49;
    padding: 50px 0;
    position: relative;
}
#carousel {
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 80%;
}
@media (min-width: 900px) {
    #carousel {
        width: 70%;
   }
}
@media (max-width: 800px) {
    #carousel {
        width: 90%;
   }
}
#carousel::-webkit-scrollbar {
    height: 0;
}
#content {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: auto;
}
.item {
    position: relative;
    width: 268px;
    height: 338px;
}

.descript {
    position: absolute;
    bottom: 19px;
    left: 20px;
    font-size: 13px;
    z-index: 10;
}
.name {
    font-weight: 500;
    color: #777;
}
.price {
    font-weight: bold;
    color: #222;
}
.Sbutton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    
}
@media (max-width: 800px) {
    .Sbutton {
        display: none;
       
        top: 5%;
   }
}

#left {
    left: 2%;
    transform: translate(50%, -50%);
}
#right {
    right: 2%;
    transform: translate(-50%, -50%);
}
@media (min-width: 900px) {
    #right {
        right: 5%;
   }
}
@media (max-width: 800px) {
    #right {
        right: 30%;
   }
}
.items {


    .Place {
       max-width: 100%;

        img {
            max-width: 100%;
        }

    }
}
